<div class="sidebar">
    <a class="sidebar-link{% if activeView === 'home' %} active-view{% endif %}" href="/user/home">Home</a>
    <a class="sidebar-link{% if activeView === 'manage-claimants' %} active-view{% endif %}" href="/user/manage-claimants">Manage claimants</a>
    <a class="sidebar-link{% if activeView === 'calculate' %} active-view{% endif %}" href="/user/calculate">Calculate Award</a>
    <a class="sidebar-link" href="/user/home">Other Link</a>
    <a class="sidebar-link" href="/user/home">Other Link</a>
</div>
