<div class="v2-top-bar">
    <div class="v2-topbar-wrapper">
        <form class="" action="/v3-sidebar-search" method="post">
            <div class="right inline input-30">
                {{ inputs.text('searchNino', 'Search by NINO', '', '40', false, '', true) }}
                {{ inputs.submit('Search', true)}}
            </div>

            <div class="left inline input-30">
                {{ inputs.text('searchName', 'Search by Name', '', '40', false, '', true) }}
                {{ inputs.submit('Search', true)}}
            </div>

            <div class="clearfix">

            </div>

        </form>
    </div>
</div>
